#one {
  color: darkblue;
}
h2 {
  color: red;
}
.two {
  color: darkmagenta;
}
#three {
  color: blue;
}
#four {
  color: darkorange;
}
#five {
  color: red;
}
#six {
  color: navy;
}
#seven {
  color: green;
}
.eight {
  color: rgb(80, 218, 26);
}
.nine {
  color: blue;
}
.ten {
  color: rgb(21, 235, 217);
}
