.heading {
  color: turquoise;
  text-align: center;
  font-size: 25px;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.7), -5px 5px 1px orange,
    -6px 6px 2px rgba(0, 0, 0, 0.7), -10px 10px 1px red,
    -11px 11px 2px rgba(0, 0, 0, 0.7), -15px 15px 1px purple,
    -16px 16px 2px rgba(0, 0, 0, 0.7);
}
#one {
  color: violet;
  text-decoration: line-through red;
  font-size: 50px;
}
.two {
  color: darkorange;
  font-size: 20px;
}
.three {
  color: lightskyblue;
}
.four {
  color: limegreen;
}
.five {
  color: magenta;
}
