input:hover {
  background-color: limegreen;
}
div {
  text-align: center;
}
input:focus {
  background-color: purple;
  border: 5px double blue;
  color: white;
}
input[type="radio"]:hover {
  box-shadow: 0 0 0 4px brown;
}
input[type="radio"]:focus {
  box-shadow: 0 0 0 4px lightcoral;
}
input[type="submit"]:hover {
  background-color: royalblue;
  color: whitesmoke;
  border: none;
  padding: 20px 20px;
  font-size: 15px;
}
